*.sh text eol=lf
plugin/bin/engine text eol=lf
engine/bin/engine text eol=lf
plugin/engine/scripts/*.sh text eol=lf
plugin/engine/scripts/githooks/* text eol=lf
engine/scripts/*.sh text eol=lf
engine/scripts/githooks/* text eol=lf
